<ul class="fields">  
  <p class='add inline'><%= link_to_add_fields "+", f, :amounts %></p>

  <%= f.fields_for :amounts do |builder| %>
    <p class='fields inline amount'>
      <%= builder.number_field :quantity, :class => 'input-amount inline' %>
    </p>
  <% end %>



  <%= f.text_field :name, :class => 'input-ingredient inline' %>


</ul>
