<h1>Mise En App!</h1>
<%= link_to "Make your own recipe!", new_recipe_path %>
<%= link_to "Your Recipes!", user_path(current_user.id) %>
  <%= form_for recipes_path, :html => { :id => 'form' }, :method => 'post' do %>
      <li><a id='search'>Recipe URL</a></li> 
      <li id='text'><%= text_field_tag :url%></li>
  <% end %> 
<hr>
